.imgandname {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: darkgoldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/my-little-plaid.png");
  padding-top: 4em;
}


/* Header media querry */

@media only screen and (min-width: 1024px) {
  .imgandname {
    padding-top: 1em;
    margin-top: 5.5em;
    max-width: 35%;
    margin-right: 2em;
    margin-left: 2em;
    height: 400px;
  }
}; 