nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: #4056A1;
  height: 120px;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

nav>span {
  font-family: "Bungee";
}

nav>div {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.arrow {
  color: red;
}