nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 120px;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav>span {
  font-family: "Bungee";
}

nav>div {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.arrow {
  color: red;
}


/* Navbar media querry for desktop */

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    position: absolute;
  }
}